{% extends "base.html" %}
{% load static %}


{% block head_title %}Statystyki{% endblock %}

{% block head_description %}Strona sieci sejsmologicznej UŚ ma za zadanie dostarczenie informacji o wstrząsach
    sejsmicznych zarejestrowanych przez USS UŚ na Grónym Śląsku{% endblock %}

{% block bodyid %}about{% endblock %}

{% block image_top %}
    <!--Top Imagine for static pages-->
    <div class="container-fluid nopadding">
        <div class="row nomargin">
            <div class="static-top">
                <img class="img-background" src="{% static 'pages/img/slajdy/slide0.jpg' %}" alt="statystyki">

                <h1>ANALIZA DANYCH</h1>

            </div>
        </div>
    </div>
    <!--END Object top info-->
{% endblock %}




{% block page_content %}

    <main>

        <section id="intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h3 class="mainHeader">Statystyki zarejestrowanych wstrząsów lokalnych</h3>
                        <p class="mt20 mb60">Tutaj dowiesz się jak wygląda rozkład wstrząsów zaobserwowanych przez sieć.
                            Analiza danych jest zautomatyzowana, dlatego wszystkie dane są aktualne i obejmują cały
                            katalog lokalny.</p>

                    </div>


                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">

                            <li role="presentation" class="active">
                                <a href="#magnitude" aria-controls="magnitud" role="tab" data-toggle="tab">Magnitudy</a>
                            </li>
                            <li role="presentation">
                                <a href="#city" aria-controls="city" role="tab" data-toggle="tab">Miasta</a>
                            </li>
                            <li role="presentation">
                                <a href="#month" aria-controls="month" role="tab" data-toggle="tab">Miesiące</a>
                            </li>
                            <li role="presentation">
                                <a href="#gr-relation" aria-controls="month" role="tab" data-toggle="tab">Relacja
                                    Gutenberga - Richtera</a>
                            </li>
                            <li role="presentation">
                                <a href="#hazard" aria-controls="month" role="tab" data-toggle="tab">Hazard
                                    sejsmiczny</a>
                            </li>
                            <li role="presentation">
                                <a href="#map" aria-controls="month" role="tab" data-toggle="tab">Mapa wstrząsów</a>
                            </li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="magnitude">

                                <p class="mt20 mb20">Histogram magntud przedstawia częstotliwość rejestracji wstrząsu o
                                    danej magnitudzie. Najwięcej zostało zarejestrowanych wstrząsów o magnitudzie
                                    lokalnej 2.5 co świadczy, że próg kompletności katalogu jest na tym poziomie.</p>

                                {% if histogramMag %}
                                    <div>
                                        {{ histogramMag|safe }}
                                    </div>
                                {% endif %}


                            </div>

                            <div role="tabpanel" class="tab-pane active" id="city">

                                <p class="mt20 mb20">Wykres ilości wstrząsów w poszczególnych miastach. Jest to
                                    bezpośrednio zależne z kopalnią, działającą w poszczególnym rejonie.</p>

                                {% if histogramCity %}
                                    <div>
                                        {{ histogramCity|safe }}
                                    </div>
                                {% endif %}


                            </div>
                            <div role="tabpanel" class="tab-pane active" id="month">

                                {% if allMonths %}
                                    <div>
                                        {{ allMonths|safe }}
                                    </div>
                                {% endif %}

                            </div>


                            <div role="tabpanel" class="tab-pane" id="gr-relation">

                                <p class="mt20 mb20">
                                    Prawo Gutenberga – Richtera stosuje się przede wszystkim do prognozowania zagrożeń
                                    trzęsień ziemi na danym terenie.
                                    <br/><br/>
                                    <a href="{% url "dataAnalise:gutenberg-richter" %}">Przejdź do analizy relacji
                                        Gutenberga - Richtera</a>
                                </p>

                            </div>


                            <div role="tabpanel" class="tab-pane" id="hazard">

                                <p class="mt20">Wkrótce...</p>

                            </div>

                            <div role="tabpanel" class="tab-pane" id="map">


                                 <p class="mt20 mb20">Mapa wszystkich wstrząsów z katalogu lokalnego
                                <br/><br/>
                                <a href="{% url "dataAnalise:quake-map" %}">Przejdź do mapy</a>


                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>


        <div class="separator">
            <div class="mask"></div>
        </div>


    </main>

{% endblock %}

{% block javascript %}


    <script>


        $(document).ready(function () {

            $('#city, #month').removeClass('active');

        });


    </script>



{% endblock %}


