{% extends "base.html" %}
{% load static %}


{% block head_title %}Zdarzenie sejsmiczne o id {{ object.id }}{% endblock %}

{% block head_description %}Strona sieci sejsmologicznej UŚ ma za zadanie dostarczenie informacji o wstrząsach sejsmicznych zarejestrowanych przez USS UŚ na Grónym Śląsku{% endblock %}

{% block bodyid %}single-event{% endblock %}

{% block image_top %}

<!--Top Imagine for static pages-->
    <div class="container-fluid nopadding">
        <div class="row nomargin">
            <div class="static-top">
                <div id="single-map"></div>
            </div>
        </div>
    </div>
    <!--END Object top info-->



{% endblock %}

{% block page_content %}

<main>

    <section id="event-table">
        <div class="container">
            <div class="row">

                <h2>Wstrząs sejsmiczny o id: {{object.id}}</h2>

                <div class="col-md-6">

                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Data</td>
                                <td>{{object.eventDate|date:"d M Y"}}</td>
                            </tr>
                            <tr>
                                <td>Czas zdarzenia</td>
                                <td>{{object.eventDate|date:"H:i"}}</td>
                            </tr>
                            <tr>
                                <td>Maginituda ({{object.magnitudeScale}})</td>
                                <td>{{ object.magnitude }}</td>
                            </tr>

                            {% if object.energy is not null %}
                            <tr>
                                <td>Energia</td>
                                <!--<td>3x10<SUP>6</SUP> </td>-->
                                <td>{{ object.energy }} J</td>
                            </tr>
                            {% endif %}

                            <tr>
                                <td>Lokalizacja</td>
                                <td>{{object.latitude|floatformat:3}}N {{ object.longitude|floatformat:3 }}E</td>
                            </tr>
                            <tr>
                                <td>Głębokość</td>
                                <td>{{object.depth}} m </td>
                            </tr>

                            {% if object.depthPPM is not null %}
                                <tr>
                                    <td>Głębokość p.p.m.</td>
                                    <td>{{ object.depthPPM }} </td>
                                </tr>
                            {% endif %}


                            <tr>
                                <td>Miasto</td>
                                <td>{{ object.city }}</td>
                            </tr>

                            {% if object.region is not null %}
                                <tr>
                                    <td>Region / Kopalnia</td>
                                    <td>{{ object.region }} </td>
                                </tr>
                            {% endif %}


                            {% if object.suchaX and object.suchaY is not null %}
                                <tr>
                                    <td>Współ. Sucha Góra</td>
                                    <td>{{ object.suchaX }} X : { object.suchaY }} Y</td>
                                </tr>
                            {% endif %}

                            {% if object.moreInfo|length > 0 %}
                                <tr>
                                    <td>Uwagi</td>
                                    <td>{{ object.moreInfo }} </td>
                                </tr>
                            {% endif %}



                        </tbody>
                    </table>

                </div>

                <div class="col-md-6">

                    <a class="thumbnail fancybox" rel="ligthbox" href="{{ object.seismogram.url  }}">
                        <img class="img-responsive" alt="" src="{{ object.seismogram.url  }}" />
                    </a>

                    {% if object.attachments|length > 0 %}
                        <a class="thumbnail fancybox" rel="ligthbox" href="{{ object.attachments.url }}">
                            <img class="img-responsive" alt="" src="{{ object.attachments.url }}" />
                        </a>
                    {% endif %}

                </div>



            </div>

        <a class="button mb60" href="{% url "localQuakes:list" %}">Katalog wstrząsów lokalnych</a>

        </div>
    </section>

</main>

{% endblock %}

{% block javascript  %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

    <script>
        function initMap() {


            var event = {lat: {{ object.latitude }}, lng: {{ object.longitude }} };
            // var station = {lat: 50.311495, lng: 18.844269};
            var singleMap = new google.maps.Map(document.getElementById('single-map'), {
                zoom: 10,
                center: event,
                styles: mapStyle
            });
            var marker = new google.maps.Marker({
                position: event,
                map: singleMap,
                icon: "{% static 'pages/grafika/event_map_mark.png' %}"
            });

            // var marker2 = new google.maps.Marker({
            //     position: station,
            //     map: singleMap,
            //     icon: "{% static 'pages/grafika/station_map_mark.png' %}"
            // });

        }

        $(document).ready(function () {
            //Fency box
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });
        });

    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJyihe6tbI9ubunBcZGaq1ZnCuSi5gdDg&callback=initMap">
    </script>

{% endblock %}

