{% extends "base.html" %}
{% load static %}

{% block head_title %}Uniewersytecka Sieć Sejsmologiczna Uniwersytetu Śląskiego{% endblock %}

{% block head_description %}Strona sieci sejsmologicznej UŚ ma za zadanie dostarczenie informacji o wstrząsach sejsmicznych zarejestrowanych przez USS UŚ na Grónym Śląsku{% endblock %}

{% block bodyid %}homepage{% endblock %}

{% block image_top %}

<!--Carousel top-->
    <div class="container-fluid">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner ">
                    <div class="item active">
                        <img src="{% static 'pages/img/slajdy/slide5.jpg' %}" alt="slajd 1"/>

                        <div class="carousel-caption">
                            <h1>UNIWERSYTECKA SIEĆ SEJSMOLOGICZNA UNIWERSTYTETU ŚLĄSKIEGO</h1>

                            <p>Witaj na stronie USS UŚ, na której znajdziesz informacje o wstrząsach sejsmicznych na terenie <br/> Górnego Śląska.</p>
                            <a class="button" href="#aboutProject"><span>DOWIEDZ SIĘ WIĘCEJ</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end carousel-->

{% endblock %}


{% block page_content %}

   <main>

    <section id="aboutProject">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>O Projekcie</h3>
                    <p>Uczelniana Sieć Sejsmoloczina Uniwersytetu Śląskiego to projekt zrealizowany w celu badania
                        sejsmiczności na Górnym Śląsku. Oprócz katalogowania <a href="#"> wstrząsów lokalnych </a> jak i
                        <a href="#"> dużych trzęsień Ziemii</a>, dostarczamy narzędzi do przetwarzania danych
                        sejsmologicznych. </p>

                    <a class="button mt20" href="{% url "pages:about" %}"><span>DOWIEDZ SIĘ WIĘCEJ</span></a>
                </div>

                <div class="col-md-6 hidden-xs hidden-sm">
                    <img class="img-responsive" src="{% static 'pages/img/39_big.jpg' %}" alt="123">
                </div>
            </div>
        </div>
    </section>

    <section id="indexMap">

        <div class="container-fluid nopadding">
            <div class="row nomargin nopadding">


                <div class="col-md-5 col-md-push-7">
                    <h3 class="mainHeader">Ostatnio zarejestrowane wstrząsy lokalne</h3>
                    <p class="lead">Zobacz mapę z najnowszymi wstrząsami, któr zostały zarejestrowane przez USS UŚ.
                        Prowadzimy rejestr wstrząsów z terenu Górnego Śląska od 2017 roku.</p>
                    <a class="button" href="{% url "localQuakes:list" %}"><span>ZOBACZ PEŁEN KATALOG</span></a>
                </div>

                <div class="col-md-7 col-md-pull-5 nopadding">
                    <div id="map"></div>
                </div>

            </div>
        </div>

    </section>


    <section id="globalEvents">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="mainHeader">Zarejestrowane trzęsienia Ziemii</h3>
                    <p class="lead">Uczelniana Sieć Sejsmologiczna UŚ prowadzi również rejestr dużych trzęsień Ziemii
                        mających miejsce w każdym zakądku świata. Zobacz najnowsze globalne zjawiska zarejestrowane
                        przez naszą sieć.</p>

                    <div id="map2"></div>

                    <a class="button" href="{% url "globalQuakes:list" %}"><span>ZOBACZ PEŁEN KATALOG</span></a>

                </div>

            </div>
        </div>
    </section>


    <div class="separator">
        <div class="mask"></div>
    </div>

{#       SEKCJA Z AKTUALNOŚCIAMI - DODAĆ PÓŹNIEJ#}
{#    <section id="news">#}
{#        <div class="container">#}
{#            <div class="row">#}
{##}
{#                <h3 class="mainHeader">Aktualności i artykuły</h3>#}
{#                <p class="lead">Dowiedz się więcej o działalności USS UŚ jak i światowej sejsmologii </p>#}
{##}
{#                <div class="col-md-4 col-sm-6 article">#}
{#                    <img class="img-responsive" src="{% static 'pages/img/39_big.jpg' %}" alt="123">#}
{#                    <h4>Temat artykułu 1</h4>#}
{#                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum#}
{#                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non#}
{#                        provident, similique sunt in culpa qui </p>#}
{#                    <a class="button mt20" href="#aboutProject"><span>Czytaj więcej</span></a>#}
{#                </div>#}
{##}
{#                <div class="col-md-4 col-sm-6 article">#}
{#                    <img class="img-responsive" src="{% static 'pages/img/39_big.jpg' %}" alt="123">#}
{#                    <h4>Temat artykułu 1</h4>#}
{#                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum#}
{#                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non#}
{#                        provident, similique sunt in culpa qui </p>#}
{#                    <a class="button mt20" href="#aboutProject"><span>Czytaj więcej</span></a>#}
{#                </div>#}
{##}
{#                <div class="col-md-4 hidden-xs hidden-sm article">#}
{#                    <img class="img-responsive" src="{% static 'pages/img/39_big.jpg' %}" alt="123">#}
{#                    <h4>Temat artykułu 1</h4>#}
{#                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum#}
{#                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non#}
{#                        provident, similique sunt in culpa qui </p>#}
{#                    <a class="button mt20" href="#aboutProject"><span>Czytaj więcej</span></a>#}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#            <a class="button mt20" href="#aboutProject"><span>ZOBACZ WSZYSTKIE ARTYKUŁY</span></a>#}
{##}
{#        </div>#}
{#    </section>#}

</main>

{% endblock %}

{% block javascript  %}


    <script>



    var locations = [

        {% for quake in last_quakes %}
            ['{{ quake.city }}', '{{ quake.eventDate|date:"d M Y H:i" }}', '{{ quake.magnitude }}', {{ quake.latitude }}, {{ quake.longitude }}, '{{ quake.get_absolute_url }}', {{ forloop.counter }}],
        {% endfor %}

{#        {% for last_quakes in group %}#}
{#            ['{{ last_quakes.city }}', '{{ last_quakes.eventDate|date:"d M Y H:i" }}', '{{ last_quakes.magnitude }}', {{ last_quakes.latitude }}, {{ last_quakes.longitude }}, '{{ last_quakes.get_absolute_url }}', {{ forloop.counter }}],#}
{#        {% endfor %}#}

    ];

    var locationsWorld = [
        {#['Nowa Zelandia', '12 listopad 2017 00:55', 6.1, -43.860600, 171.294639, 4],#}
        {#['Japonia', '6 listopad 2017 12:55', 5.7, 35.319650, 137.252233, 5],#}
        {#['Indonezja', '2 listopad 2017 07:55', 5.6, -2.739081, 102.196058, 3],#}
        {#['Chile', '30 listopad 2017 18:55', 7.1, -29.993567, -71.010555, 2],#}
        {#['Dominikana', '5 grudzień 2017 03:55', 6.5, 19.146026, -71.184710, 1],#}
        {#['Włochy', '5 grudzień 2017 03:55', 5.5, 42.762221, 12.999896, 1],#}
        {#['Grecja', '5 grudzień 2017 03:55', 4.7, 38.324176, 22.010317, 1]#}

        {% for quake in last_earthquakes %}
            ['{{ quake.region }}', '{{ quake.eventDate|date:"d M Y H:i" }}', '{{ quake.magnitude }}', {{ quake.latitude }}, {{ quake.longitude }}, '{{ quake.get_absolute_url }}', {{ forloop.counter }}],
        {% endfor %}
    ];


    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_upCvmfIJ1lQjTrdbaCMT0228fAGq1wI&callback=initMap">
    </script>

    <script src="{% static 'pages/js/home-page.js' %}"></script>


{% endblock %}