{% extends "base.html" %}
{% load static %}


{% block head_title %}Statystyki{% endblock %}

{% block head_description %}Strona sieci sejsmologicznej UŚ ma za zadanie dostarczenie informacji o wstrząsach
    sejsmicznych zarejestrowanych przez USS UŚ na Grónym Śląsku{% endblock %}

{% block bodyid %}about{% endblock %}

{% block image_top %}
    <!--Top Imagine for static pages-->
    <div class="container-fluid nopadding">
        <div class="row nomargin">
            <div class="static-top">
                <img class="img-background" src="{% static 'pages/img/slajdy/slide0.jpg' %}" alt="statystyki">

                <h1>ANALIZA DANYCH</h1>

            </div>
        </div>
    </div>
    <!--END Object top info-->
{% endblock %}




{% block page_content %}

    <main>

        <section id="intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h3 class="mainHeader">Statystyki zarejestrowanych wstrząsów lokalnych</h3>
                        <p class="mt20 mb60">Tutaj dowiesz się jak wygląda rozkład wstrząsów zaobserwowanych przez sieć.
                            Analiza danych jest zautomatyzowana, dlatego wszystkie dane są aktualne i obejmują wszystkie
                            wstrząsy w katalogu lokalnym.</p>

                    </div>


                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">

                            <li role="presentation" class="active">
                                <a href="#magnitude" aria-controls="magnitud" role="tab" data-toggle="tab">Magnitudy</a>
                            </li>
                             <li role="presentation">
                                <a href="#city" aria-controls="city" role="tab" data-toggle="tab">Miasta</a>
                            </li>
                             <li role="presentation">
                                <a href="#month" aria-controls="month" role="tab" data-toggle="tab">Miesiące</a>
                            </li>
                            <li role="presentation">
                                <a href="#month" aria-controls="month" role="tab" data-toggle="tab">Relacja Gutenberga - Richtera</a>
                            </li>
                            <li role="presentation">
                                <a href="#month" aria-controls="month" role="tab" data-toggle="tab">Hazard sejsmiczny</a>
                            </li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="magnitude">
                                <p class="mt20 mb20">Histogram magntud przedstawia częstotliwość rejestracji wstrząsu o
                                    danej magnitudzie. Najwięcej zostało zarejestrowanych wstrząsów o magnitudzie
                                    lokalnej 2.5 co świadczy, że próg kompletności katalogu jest na tym poziomie.</p>
                                <div id="magHistChart"></div>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="city">...</div>
                            <div role="tabpanel" class="tab-pane" id="month">...</div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <div class="separator">
            <div class="mask"></div>
        </div>


    </main>

{% endblock %}

{% block javascript %}

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <script>


        function initMap() {

            var locationStations = [

                {% for station in object_list %}
                    ['{{ station.name }} ({{ station.shortName }})', {{ station.latitude }}, {{ station.longitude }}, '{{ station.get_absolute_url }}', {{ forloop.counter }}],
                {% endfor %}

            ];


            var stationdMap = new google.maps.Map(document.getElementById('stationMap'), {
                zoom: 10,
                center: silesiaCenter,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                styles: mapStyle
            });

            var infowindow = new google.maps.InfoWindow();

            var marker, i;
            var markers = [];

            //Markers Stations Loop
            for (i = 0; i < locationStations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locationStations[i][1], locationStations[i][2]),
                    map: stationdMap,
                    icon: url_station
                });

                markers.push(marker);

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infowindow.setContent(
                            '<div class="markerDescription">' +
                            '<strong>Nazwa stacji: <br /> </strong>' + locationStations[i][0] + '<br />' +
                            '<a class="text-right" href="' + locationStations[i][3] + '">Więcej</a>' +
                            '</div>'
                        );


                        infowindow.open(stationdMap, marker);
                    }
                })(marker, i));
            }

        }

        {#Statystyki#}
        $(document).ready(function () {

            var endpoint = '/api/chart/data/';
            var cityData = [];

            $.ajax({
                method: "GET",
                url: endpoint,
                success: function (data) {
                    cityData = data;
                    magnitudeHistogram();
                    {#console.log(data)#}
                },
                error: function (error_data) {
                    console.log("error");
                    console.log(error_data)
                },
            });


            function magnitudeHistogram() {
                var trace = {
                    x: cityData,
                    type: 'histogram',
                    marker: {
                        color: '#00a651',
                    },
                };

                var layout = {
                    title: 'Histogram częstości magnitud wstrząsów lokalnych',
                    xaxis: {
                        title: 'Magnituda lokalna',
                        titlefont: {
                            family: 'Courier New, monospace',
                            size: 16,
                            color: '#7f7f7f'
                        }
                    },
                    yaxis: {
                        title: 'Ilość wstrząsów lokalnych',
                        titlefont: {
                            family: 'Courier New, monospace',
                            size: 16,
                            color: '#7f7f7f'
                        }
                    }
                };

                var data = [trace];
                Plotly.newPlot('magHistChart', data, layout);


            }
        })


    </script>



{% endblock %}


